In [61]:
import os
import sqlite3
import pandas as pd
import streamlit as st
import plotly.express as px

In [62]:


def create_connection(db_file: str):
    sqlite_connection = None
    try:
        sqlite_connection = sqlite3.connect(db_file)
    except Exception as e:
        st.write(e)
    return sqlite_connection

def run_query():
    st.markdown("# Run Query")
    sqlite_dbs = [file for file in os.listdir(".") if file.endswith(".db")]
    db_filename = st.selectbox("Database File", sqlite_dbs)

    qery = st.text_area("SQL query", height=50)
    conn = create_connection(db_filename)

    submitted = st.button("submit")
    
    if submitted:
        pass
    pass

sqlite_connection = sqlite3.connect("bce.db")

cursor = sqlite_connection.cursor()
a = cursor.execute("""
                    select JuridicalForm as 'form', count(JuridicalForm) as 'count' 
                    from enterprise group by JuridicalForm;
                    """)

In [63]:
a

In [64]:
cols = [column[0] for column in a.description]
# print(a.fetchall())
juridical = a.fetchall()
juridical.remove(juridical[0])
df = pd.DataFrame.from_records(data=juridical, columns=cols)

In [65]:
df.dtypes

form     object
count     int64
dtype: object

In [66]:
df.form = df.form.astype(int)
counts = df.groupby('form').sum()
over5000 = counts[counts['count'] >= 5000]
over5000.loc['other', 'count'] = counts[counts['count'] < 5000].sum()[0]
df.columns = ['form', 'count']
# fig = px.pie(over5000, values='form')
# st.plotly_chart(fig, use_container_width=True)
# fig
over5000

/var/folders/vl/8lln9s0x0198jc8m81yt74nm0000gn/T/ipykernel_9837/3038845093.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          count
form
3        7673.0
8       12487.0
11      23453.0
12      33097.0
14      99035.0
15     356509.0
16      11655.0
17     140375.0
30      61875.0
70      94015.0
124      5084.0
235     12321.0
610    170607.0
612     17228.0
721     25178.0
other   29057.0